<main>
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    <span th:text="${user.email}"></span>
                    <br/>
                    <span th:text="${user.fullName}"></span>
                </div>

                <!--<form th:action="${/user/deleteAll}" method="post">-->
                    <!--<input class="btn btn-danger" value="Magic Button" type="submit"/>-->
                <!--</form>-->

            </div>
        </div>
    </div>
</main>